<div *ngIf="message.body" class="alert alert-{{message.type}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Message:</strong> {{message.body}}
</div>


<div class="lobibox-notify lobibox-notify-error animated-fast fadeInDown" style="width: 400px;">
  <div class="lobibox-notify-icon-wrapper">
    <div class="lobibox-notify-icon">
      <div>
        <div class="icon-el"><i class="fa fa-times-circle"></i></div>
      </div>
    </div>
  </div>
  <div class="lobibox-notify-body">
    <div class="lobibox-notify-title">Error
      <div></div>
    </div>
    <div class="lobibox-notify-msg" style="max-height: 60px;">Lorem ipsum dolor sit amet against apennine any created, spend loveliest, building stripes.</div>
  </div><span class="lobibox-close">×</span>
  <div class="lobibox-delay-indicator">
    <div style="width: 98.38%;"></div>
  </div>
</div>