<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="mj_postdiv mj_shadow_blue mj_postpage mj_toppadder50 mj_bottompadder50">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            <form [formGroup]="profileForm" (ngSubmit)="submitProfile()">
                <div class="form-group">
                    <label>Mức Lương Mong Muốn (USD)</label>
                    <input type="number" [formControl]="mucluong" class="form-control" placeholder="1000">
                </div>


                <div class="form-group">
                    <label>Professional Title</label>
                    <input type="text" class="form-control" [formControl]="namepro" placeholder="e.g. “Web Developer”">
                </div>
                <div class="form-group">
                    <label>Thành Phố</label>
                    <select name="timepass" class="form-control custom-select" [ngModelOptions]="{standalone: true}" (change)="changetp($event.target.value)"
                        [(ngModel)]="workplace1">
                                     
                                        <option *ngFor="let itemsthanhpho of list_thanhpho" [value]="itemsthanhpho._id">{{itemsthanhpho.name}}</option>
                                    
                                    </select>
                </div>
                <div class="form-group">
                    <label>Quận </label>
                    <select name="timepass" class="form-control custom-select" [(ngModel)]="dictrict1" [ngModelOptions]="{standalone: true}">
                                       
                                         <option *ngFor="let Listitemsquan of list_quan" [value]='Listitemsquan._id'>{{Listitemsquan.name}}</option>
                                    </select>
                </div>
                <div class="form-group">
                    <label>Resume Category</label>
                    <select name="timepass" (change)="onchangeSelect($event.target.value)" [(ngModel)]="Category" [ngModelOptions]="{standalone: true}"
                        class="form-control custom-select">
                                    
                                       <option *ngFor="let ListCategory of list_Jobcategory" [value]="ListCategory._id">{{ListCategory.name}}</option>
                                    </select>
                    <div class="row">
                        <span class="alist" (click)="add(listdetail._id,listdetail.name)" *ngFor="let listdetail of list_Jobcategory_Detail">{{listdetail.name}}</span>


                    </div>
                    <a class="a-underline"> select all </a>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                SELECTED
                            </div>
                        </div>

                    </div>
                    <ul class="mj_selected_content">
                        <li>
                            <a *ngFor="let listsubmit of list_Jobcategory_Detail_Submit"><img src="assets/images/cross_white.png" alt="" (click)="removeadd(listsubmit._id,listsubmit.name)">{{listsubmit.name}} </a>
                        </li>

                    </ul>
                </div>
                <div class="form-group">
                    <label> Skills</label>

                    <div class="row">
                        <span class="alist" (click)="addLang(Listdipl._id,Listdipl.name)" *ngFor="let Listdipl of Listdiplomalanguage">{{Listdipl.name}}</span>
                    </div>
                    <a class="a-underline"> select all </a>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                SELECTED
                            </div>
                        </div>

                    </div>
                    <ul class="mj_selected_content">
                        <li>
                            <a *ngFor="let lists of diplomalanguage_submit"><img src="assets/images/cross_white.png" alt="" (click)="removeaddlang(lists._id,lists.name)">{{lists.name}} </a>
                        </li>

                    </ul>
                </div>



                <div class="form-group">
                    <label>Education<span>(optionnal)</span>
                                    </label>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="mj_education">
                                <input type="text" class="form-control" placeholder="School Name">
                                <input type="text" class="form-control" placeholder="Qualification(s)">
                                <input type="text" class="form-control" placeholder="Start / End Date">
                                <textarea class="form-control" rows="5" placeholder="Notes"></textarea>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Experience<span>(optionnal)</span>
                                    </label>
                    <div class="form-group">
                        <select name="timepass" class="form-control custom-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="experience">
                                        <option value="0">Chưa Kinh nghiệm</option>
                                        <option value="1">1 năm</option>
                                        <option value="2">2năm</option>
                                        <option value="3">3 năm</option>
                                        <option value="4">4 năm</option>
                                        <option value="5">5 năm</option>
                                        <option value="6">Trên 5 năm</option>
                                    </select>
                    </div>
                 
                </div>

            

                <div class="mj_showmore"><button type="submit" class="mj_showmorebtn mj_bigbtn mj_bluebtn">Preview <i class="fa fa-angle-right"></i></button>
                </div>
            </form>
        </div>
    </div>

</div>