.alist{
        float: left;
    padding: 10px 20px;
    background-color: #00bff3;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 10px;
}