.alist{
        float: left;
    padding: 10px 20px;
    background-color: #00bff3;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 10px;
}
.namepro{
    	font-size: 65px;
    font-family: 'FiraSans-ExtraLight';
    text-transform: uppercase;
    font-weight: 100;
    color: #000000;
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    font-size: 23px;
}

.imgPro{
    margin-left: 2px;
    height: 284px;
    width: 300px;
	}