<div class="clearfix"></div>

<div class="mj_mapmarker">
    <div id="map" style="position: relative; overflow: hidden;margin-top: 100px;">
        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
            <div class="gm-err-container">
                <div class="gm-err-content">
                </div>
            </div>
        </div>
    </div>
    <!--===============================-->

    <div class="mj_blog_tags" style="margin-left: 27px;margin-top: -251px;"> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-angle-right">Choose Catalog Jobs</i></a>
        <ul>
            <li><a>{{NameCatagory}}/</a>
            </li>
            <li><a>{{NameCatagoryDetail}}</a>
            </li>
        </ul>
        <!-- <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Choose Catalog Jobs</a>-->
    </div>
    <aside class="woocommerce widget widget_tag_cloud" style="margin-top: -213px;">
        <a *ngFor="let item of list_ById_jobcategory" [routerLink]="['search-jobs', 'catagory', item._id ,'all']">{{item.name}}</a>
    </aside>

    <!--==============================-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_top_searchbox">
                    <form>
                        <div class="col-lg-7 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <select name="timepass" class="custom-select form-control">
									<option>Loading Thành Phố</option>
									<option  *ngFor="let item of list_all_Workplace">{{item.name}}</option>
                                </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <a href="#" class="mj_mainbtn mj_btnyellow" data-text="search"><span>search</span></a>
                        </div>
                    </form>
                </div>
                <div style="    position: absolute;
    background-color: #9e5959;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    color: white;">
                    <a class="search-bottom-link pull-left" style="color:white" (click)="clickav()">Advanced search</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mj_filter_section">
        <div class="container">

            <div *ngIf="isadvance" class="row">
                <div class="mj_filter_slider">
                    <form>

                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>salary:
                                        <span> ${{salaryB}}- ${{salaryE}}</span>
                                    </label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <select (change)="selectSalaryB($event.target.value)" class="custom-select form-control" name="timepass">
									<option value="0">salary Begin</option>
									   <option value="100">$300</option>
                                    <option value="500">>$500</option>
                                    <option value="1000">>$1000</option>
                                    <option value="2000">>$2000</option>
                                    <option value="5000">>$5000</option>
                                    <option value="10000">>$10000</option>
                                </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <select (change)="selectSalaryE($event.target.value)" class="custom-select form-control" name="timepass">
                                    <option value="0">salary End</option>
                                    <option value="100">$100</option>
                                    <option value="500">$500</option>
                                    <option value="1000">$1000</option>
                                    <option value="2000">$2000</option>
                                    <option value="5000">$5000</option>
                                    <option value="10000">$10000</option>
                                </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div style=" position: absolute;z-index: 99;">
                                            <ul *ngIf="isdate==false">
                                                <li>
                                                    <div class="row">
                                                        <div style="margin-left: -20px;" class="col-xs-6">
                                                            <input type="date" class="form-control date-left" />
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <input type="date" class="form-control date-right" />
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>


                                            <ul class="date-load" *ngIf="isdate==true">
                                                <li class="input-date">
                                                    <input (click)="select()" type="text" class="form-control" /> <i class="fa fa-calendar icon-date"
                                                        aria-hidden="true"></i>
                                                 {{from|date}}
                                                
                                                </li>



                                                <li class="select-date bounceInLeft" [class.show]="Showselected">
                                                    <button class="btn btn-warning" (click)="setDate(30)">30 Days</button>
                                                </li>
                                                <li class="select-date bounceInLeft" [class.show]="Showselected">
                                                    <button class="btn btn-warning" (click)="setDate(1)">1 Days</button>
                                                </li>
                                                <li class="select-date bounceInLeft" [class.show]="Showselected">
                                                    <button class="btn btn-warning" (click)="setDate(2)">2 Days</button>
                                                </li>
                                                <li class="select-date bounceInLeft" [class.show]="Showselected">
                                                    <button class="btn btn-warning" (click)="setDate(7)">7 Days</button>
                                                </li>
                                                <li class="select-date bounceInLeft" [class.show]="Showselected">
                                                    <button class="btn btn-warning" (click)="setDate(4)">14 Days </button>
                                                </li>
                                                <li class="select-date bounceInLeft" [class.show]="Showselected">
                                                    <button class="btn btn-warning" (click)="setDate(1)">Custumer </button>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mj_check_filter">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check6" name="checkbox">
                                <label for="check6"></label>
                            </div>
                            <span> Freelancer</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check2" name="checkbox">
                                <label for="check2"></label>
                            </div>
                            <span> Full Time</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check3" name="checkbox">
                                <label for="check3"></label>
                            </div>
                            <span> Internship</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check4" name="checkbox">
                                <label for="check4"></label>
                            </div>
                            <span> Part Time</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check5" name="checkbox">
                                <label for="check5"></label>
                            </div>
                            <span> Temporary</span> </div>
                    </form>
                </div>

                <!-- Modal Catalog -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div>
                        <div>
                            <div class="modal-body">
                                <!--Body model-->
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <aside class="widget widget_tag_cloud">
                                    <h4 class="widget-title">Catagory </h4>
                                    <a *ngFor="let item of list_all_jobcategory" [routerLink]="['/pages/home/search-jobs', 'catagory',item._id,'all']">{{item.name}}</a>

                                </aside>
                                <!--Body Model-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End List-->
            <div class="mj_jobinfo">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="mj_showjob">
                            <p>showing <strong>368</strong> job offers</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="mj_rss_feed">
                            <p>RSS <i class="fa fa-rss"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mj_tabcontent mj_bottompadder80">
                <table class="table table-striped">
                    <tr *ngFor="let listjob of allItems">
                        <td>
                            <div class="mj_liks"><a href="#"><i class="fa fa-heart"></i></a><span>Save this Job</span>
                            </div>
                        </td>
                        <td>
                            <a href="#"><img src="localhost:3000/uploads/forms/logo/{{listjob.company[0].info_recruiter.logo}}" class="img-responsive" alt="">
                                </a>
                        </td>
                        <td>
                            <h4><a href="job_detail.html">{{listjob.title}}</a></h4>
                            <p>{{listjob.title}}</p>
                            <br>
                            <p>Posted on: {{listjob.createddate|date}} </p>
                            <br>
                            <p>{{listjob.endPost|date}}</p>
                             <i class="fa fa-map-marker"></i>    <p>{{listjob.Infodistrict[0].name}}</p>
                        </td>

                        <td>
                            <ul class="list_language" *ngFor="let list_language of listjob.Infokeyword">
                                <li>{{list_language.name}}</li>
                             
                            </ul>
                           
                            <P>

                            </P>
                        </td>
                        <td><a href="#" class="mj_btn mj_greenbtn">{{listjob.JobTime}}</a>
                        </td>
                        <td><span>{{listjob.salarycompete}}</span>
                        </td>
                    </tr>
               
                </table>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                    <div class="mj_showmore"> <a href="#" class="mj_showmorebtn mj_blackbtn">Show More</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>