<div class="clearfix"></div>

<div class="mj_mapmarker">
    <div id="map" style="position: relative; overflow: hidden;">
        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
            <div class="gm-err-container">
                <div class="gm-err-content">
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_top_searchbox">
                    <form>
                        <div class="col-lg-7 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Category">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <select name="timepass" class="custom-select form-control">
									<option>Country</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
                                </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <a href="#" class="mj_mainbtn mj_btnyellow" data-text="search"><span>search</span></a>
                        </div>
                    </form>
                    <a class="search-bottom-link pull-left" href="mod-en-advanced_search.html">Advanced search</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mj_filter_section">
        <div class="container">

            <div class="row">
                <div class="mj_filter_slider">
                    <form>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="form-group">
                                    <label>Experience:<span>0 to 4 Years</span>
                                    </label>
                                    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <label>salary:
                                        <span> $21.000 - $80.000</span>
                                    </label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <select class="custom-select form-control" name="timepass">
									<option >salary</option>
									<option >$100</option>
									<option >$200</option>
									<option >$300</option>
                                </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <select class="custom-select form-control" name="timepass">
                                    <option >salary</option>
                                    <option >$100</option>
                                    <option >$200</option>
                                    <option >$300</option>
                                </select> Date
                                    </div>
                                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <select class="custom-select form-control" name="timepass">
                                    <option ><button  class="btn btn-flat">To day</button></option>
                                    <option ><button  class="btn btn-flat">To day</button></option>
                                    <option ><button  class="btn btn-flat">To day</button></option>
                                    <option ><button  class="btn btn-flat">To day</button></option>
                                      <option ><button  class="btn btn-flat">To day</button></option>
                                        <option ><button  class="btn btn-flat">To day</button></option>
                                       </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mj_check_filter">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check6" name="checkbox">
                                <label for="check6"></label>
                            </div>
                            <span> Freelancer</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check2" name="checkbox">
                                <label for="check2"></label>
                            </div>
                            <span> Full Time</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check3" name="checkbox">
                                <label for="check3"></label>
                            </div>
                            <span> Internship</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check4" name="checkbox">
                                <label for="check4"></label>
                            </div>
                            <span> Part Time</span> </div>
                        <div class="form-group">
                            <div class="mj_checkbox">
                                <input type="checkbox" value="1" id="check5" name="checkbox">
                                <label for="check5"></label>
                            </div>
                            <span> Temporary</span> </div>
                    </form>
                </div>
                <div>

                    <div class="mj_blog_tags"> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-angle-right">Choose Catalog Jobs</i></a>
                        <ul>
                            <li><a href="">Web Developer/</a>
                            </li>
                            <li><a href="">ASP.NET</a>
                            </li>

                        </ul>
                        <!-- <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Choose Catalog Jobs</a>-->
                    </div>
                    <aside class="woocommerce widget widget_tag_cloud">
                        <a href="#">ASP.NET</a> <a href="#">Java / J2EE</a> <a href="#">PHP</a> <a href="#">HTML</a>
                        <a href="#">Other</a>
                    </aside>
                </div>
                <!--List-->
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div>
                        <div>
                            <div class="modal-body">
                                <!--Body model-->
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <aside class="widget widget_tag_cloud">
                                    <h4 class="widget-title">Tags Widget</h4>
                                    <a href="#">Web Developer</a>
                                    <a href="#">Web Designer</a>
                                    <a href="#">Business Managment</a>
                                    <a href="#">Finance</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Job</a>
                                    <a href="#">Customer Support</a>
                                    <a href="#">Databases</a>
                                    <a href="#">Engineers</a>
                                    <a href="#">Mobile Applications</a> <a href="#">Software Developer</a>
                                    <a href="#">SEO & Content Management</a>
                                    <a href="#">Sales & Marketing</a>
                                    <a href="#">Telecommunications</a>
                                    <a href="#">Wireless Networks</a>
                                </aside>
                                <!--Body Model-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End List-->
            <div class="mj_jobinfo">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="mj_showjob">
                            <p>showing <strong>368</strong> job offers</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <div class="mj_rss_feed">
                            <p>RSS <i class="fa fa-rss"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mj_tabcontent mj_bottompadder80">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <div class="mj_liks"><a href="#"><i class="fa fa-heart"></i></a><span>Save this Job</span>
                            </div>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/profilepic1.jpg" class="img-responsive" alt="">
                                </a>
                        </td>
                        <td>
                            <h4><a href="job_detail.html">Senior Web Developer</a></h4>
                            <p>Company Inc.</p>
                            <br>
                            <p>Posted on: Sat, 08 Apr 2017 </p>
                            <br>
                            <p>New Inc.</p>
                        </td>

                        <td>
                            <ul class="list_language">
                                <li>design</li>
                                <li>designer</li>
                                <li>user experience</li>
                                <li>developer</li>
                            </ul><i class="fa fa-map-marker"></i>
                            <P> Website programming, audio or video creation, infographics). This position is based in the center
                                of the Alps, in Tyrol - a region that provides a pleasant...</P>
                        </td>
                        <td><a href="#" class="mj_btn mj_greenbtn">Full Time</a>
                        </td>
                        <td><span>$45,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mj_liks"><a href="#"><i class="fa fa-heart"></i></a><span>Save this Job</span>
                            </div>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/profilepic2.jpg" class="img-responsive" alt="">
                                </a>
                        </td>
                        <td>
                            <h4><a href="job_detail.html">UX Designer</a></h4>
                            <p>Company Inc.</p>
                            <br>
                            <p>Posted on: Sat, 08 Apr 2017 </p>
                            <br>
                            <p> End date: Sat, 09 Apr 2017 </p>

                            <br>
                            <p>New Inc.</p>


                        </td>

                        <td><i class="fa fa-map-marker"></i>
                            <P> Website programming, audio or video creation, infographics). This position is based in the center
                                of the Alps, in Tyrol - a region that provides a pleasant...</P>
                        </td>

                        <td><a href="#" class="mj_btn mj_bluebtn">Freelance</a>
                        </td>
                        <td><span>$20,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mj_liks"><a href="#"><i class="fa fa-heart"></i></a><span>Save this Job</span>
                            </div>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/profilepic3.jpg" class="img-responsive" alt="">
                                </a>
                        </td>
                        <td>
                            <h4><a href="job_detail.html">Web Designer</a></h4>
                            <p>Company Inc.</p>
                            <br>
                            <p> End date: Sat, 09 Apr 2017 </p>
                            <P>Boston</P>
                        </td>

                        <td><i class="fa fa-map-marker"></i>
                            <P> Website programming, audio or video creation, infographics). This position is based in the center
                                of the Alps, in Tyrol - a region that provides a pleasant...</P>
                        </td>

                        <td><a href="#" class="mj_btn mj_greenbtn">full time</a>
                        </td>
                        <td><span>$36,500</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mj_liks"><a href="#"><i class="fa fa-heart"></i></a><span>Save this Job</span>
                            </div>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/profilepic4.jpg" class="img-responsive" alt="">
                                </a>
                        </td>
                        <td>
                            <h4><a href="job_detail.html">Project Manager</a></h4>
                            <p>Company Inc.</p>
                        </td>
                        <td><i class="fa fa-map-marker"></i>
                            <P>Los Angeles</P>
                        </td>
                        <td><a href="#" class="mj_btn mj_greenbtn">full time</a>
                        </td>
                        <td><span>$26,200</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mj_liks"><a href="#"><i class="fa fa-heart"></i></a><span>Save this Job</span>
                            </div>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/profilepic5.jpg" class="img-responsive" alt="">
                                </a>
                        </td>
                        <td>
                            <h4><a href="job_detail.html">Design Technologist</a></h4>
                            <p>Company Inc.</p>
                        </td>
                        <td><i class="fa fa-map-marker"></i>
                            <P>Chicago</P>
                        </td>
                        <td><a href="#" class="mj_btn mj_orangebtn">Part Time</a>
                        </td>
                        <td><span>$84,000</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mj_liks"><a href="#"><i class="fa fa-heart"></i></a><span>Save this Job</span>
                            </div>
                        </td>
                        <td>
                            <a href="#"><img src="assets/images/profilepic6.jpg" class="img-responsive" alt="">
                                </a>
                        </td>
                        <td>
                            <h4><a href="job_detail.html">Front End Developer</a></h4>
                            <p>Company Inc.</p>
                        </td>
                        <td><i class="fa fa-map-marker"></i>
                            <P>New York City</P>
                        </td>
                        <td><a href="#" class="mj_btn mj_greenbtn">full Time</a>
                        </td>
                        <td><span>$65,000</span>
                        </td>
                    </tr>
                </table>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
                    <div class="mj_showmore"> <a href="#" class="mj_showmorebtn mj_blackbtn">Show More</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>