

<div class="modal-wrap">
  <div class="modal-header"><span class="is-active"></span><span></span><span></span></div>
  <div class="modal-bodies">
    <div [@movePanel] class="modal-body modal-body-step-1 is-showing">
      <div class="title">Step 1</div>
      <div class="description">Hello there, Let's play a game.</div>
      <form>
        <input type="text" placeholder="Name"/>
        <input type="email" placeholder="Email"/>
        <div class="text-center">
          <div class="button">Start</div>
        </div>
      </form>
    </div>
    <div class="modal-body modal-body-step-2">
      <div class="title">Step 2</div>
      <div class="description">Would you rather</div>
      <form>
        <label>
          <input type="radio" name="radio"/>live one life that lasts 1,000 years?
        </label>
        <label>
          <input type="radio" name="radio" id="radio2"/>live 10 lives that last 100 years each?
        </label>
        <div class="text-center fade-in">
          <div class="button">Next</div>
        </div>
      </form>
    </div>
    <div class="modal-body modal-body-step-3">
      <div class="title">Step 3</div>
      <div class="description">Check your email for the game results.</div>
      <div class="text-center">
        <div class="button">Done!</div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <div class="rerun-button">ReRun</div>
</div>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog"  [@openClose]>

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<blockquote class="blockquote-reverse" [@slideInOut]="'menuState'">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>
<a class="btn btn-warning" (click)="toggleMenu() ">Warning</a>