  <div class="mj_pagetitle2">
        <div class="mj_pagetitleimg">
            <img src="assets/images/page_title1.jpg" alt="">
            <div class="mj_mainheading_overlay"></div>
        </div>
        <div class="mj_pagetitle_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mj_mainheading">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="mj_joblogo">
                                        <img src="assets/images/candidate_img.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="mj_pageheading mj_toppadder50">
                                        <h1> {{listdetail.fullname}}</h1>
                                        <ul>
                                            <li>
                                                <label><i class="fa fa-map-marker"></i>
                                                </label><a > {{listdetail.districtid_view[0].name}},{{listdetail.workplaceid_view[0].name}}</a>
                                            </li>
                                            <li>
                                                <label>Ngành:</label><a > {{listdetail.jobcategories_view[0].name}}</a>
                                            </li>
                                            <li>
                                                <label>Hourly Rate: </label><span class="mj_green_text">$ {{listdetail.salary}}/1 month</span>
                                            </li>
                                             <li>
                                                <label>Phone : </label><span class="mj_green_text">$ {{listdetail.salary}}/1 month</span>
                                            </li>
                                             <li>
                                                <label>Email : </label><span class="mj_green_text">$ {{listdetail.salary}}/1 month</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mj_lightgraytbg mj_bottompadder80">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                    <div class="mj_social_media_section mj_candidatepage_media mj_toppadder40 mj_bottompadder40">
                        <ul>
                            <li><a  class="mj_mainbtn mj_btnblue" data-text="Back"><span>Back</span></a>
                            </li>
                            <li><a  class="mj_mainbtn mj_btnred" data-text="View CV"><span>View CV</span></a>
                            </li>
                        </ul>
                        <p><a ><i class="fa fa-download">DOWNLOAD CV</i></a>
                        </p>
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Overview</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                        <p [innerHTML]="listdetail.overview"></p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                    <div class="mj_divider"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>skills</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="mj_detaildiv">
                                        <ul class="mj_selected_content">
                                            <li  *ngFor="let item of listdetail.jobcategorydetail_view">
                                                <a ><img src="assets/images/cross_white.png" alt=""> {{item.name}}</a>
                                            </li>
                                           
                                        </ul>
                                  
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                    <div class="mj_divider"></div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
       
            </div>
        </div>
    </div>
   