     .info ul li {
        display: inline-block;
        margin-right: 15px;
    }

         .info ul li a i {
            margin-right: 3px;
        }

         .info ul li a {
            color: #808080;
        }

             .info ul li a:hover {
                color: #505050;
            }