<div class="content-wrapper" style="min-height:600px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh SachUng Tuyen

    </h1>

  </section>
  <!-- Main content -->
  <section class="content">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <select class="form-control select2" style="width: 100%;">
              <option selected="selected">Alabama</option>
              <option value="">Newest first</option>
              <option value="name">Sort by name</option>
              <option value="rating">Sort by rating</option>
            </select>
        </div>
        <!-- /.form-group -->
        <div class="col-md-6">
          <select class="form-control select2" style="width: 100%;">
              <option value="">Filter by status</option>
              <option value="new">New</option>
              <option value="interviewed">Interviewed</option>
              <option value="offer">Offer extended</option>
              <option value="hired">Hired</option>
              <option value="archived">Archived</option>
            </select>
        </div>
        <!-- /.form-group -->
      </div>
      <!-- Line chart -->
      <div class="box box-primary" style="margin-top: 20px;">
        <div class="box-body">
          <div class="container">
            <!-- Table -->
            <!-- Applications -->
            <div class="sixteen columns">

              <!-- Application #1 -->
              <div class="application">
                <div class="app-content">

                  <!-- Name / Avatar -->
                  <div class="info">
                    <img src="assets/images/profilepic2.jpg" alt="">
                    <span>John Doe</span>
                    <ul>
                      <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a>
                      </li>
                      <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
                      </li>
                    </ul>
                  </div>

                  <!-- Buttons -->
                  <div class="buttons">
                    <a (click)="edit()" class="btn btn-primary app-link"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="#two-1" class="btn btn-primary app-link"><i class="fa fa-sticky-note"></i> Add Note</a>
                    <a href="#three-1" class="btn btn-primary app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
                  </div>
                  <div class="clearfix"></div>

                </div>

                <!--  Hidden Tabs -->
                <div class="app-tabs" *ngIf="isedit">

                  <a class="close-tab btn btn-primary" (click)="remove()"><i class="fa fa-close"></i></a>

                  <!-- First Tab --> 
                  <div class="app-tab-content col-lg-10" id="one-1">

                    <div class="select-grid">
                      <select data-placeholder="Application Status" class="chosen-select-no-single form-control select2">
                  <option value="">Application Status</option>
                  <option value="new">New</option>
                  <option value="interviewed">Interviewed</option>
                  <option value="offer">Offer extended</option>
                  <option value="hired">Hired</option>
                  <option value="archived">Archived</option>
                </select>
                    </div>

                    <div class="select-grid">

                    </div>

                    <div class="clearfix"></div>
                    <a href="#" class="button margin-top-15btn btn-primary">Save</a>
                    <a href="#" class="btn btn-primary margin-top-15 delete-application">Delete this application</a>

                  </div>

                  <!-- Second Tab -->
                  <div class="app-tab-content col-lg-10" id="two-1">
                    <textarea placeholder="Private note regarding this application" class="form-control"></textarea>
                    <a href="#" class="button margin-top-15 btn ">Add Note</a>
                  </div>


                  <!-- Third Tab -->
                  <div class="app-tab-content col-lg-10" id="three-1">
                    <i>Full Name:</i>
                    <span>John Doe</span>

                    <i>Email:</i>
                    <span><a href="/cdn-cgi/l/email-protection#a4cecbccca8ac0cbc1e4c1dcc5c9d4c8c18ac7cbc9"><span class="__cf_email__" data-cfemail="73191c1b1d5d171c1633160b121e031f165d101c1e">[email&#160;protected]</span>

                    </a>
                    </span>

                    <i>Message:</i>
                    <span>Praesent efficitur dui eget condimentum viverra. Sed non maximus ipsum, non consequat nulla. Vivamus nec convallis nisi, sit amet egestas magna. Quisque vulputate lorem sit amet ornare efficitur. Duis aliquam est elit, sed tincidunt enim commodo sed. Fusce tempus magna id sagittis laoreet. Proin porta luctus ante eu ultrices. Sed porta consectetur purus, rutrum tincidunt magna dictum tempus. </span>
                  </div>

                </div>

                <!-- Footer -->

                <div class="app-footer box-footer ">
                  <ul style="margin-right:72px;">
                    <li><i class="fa fa-file-text-o"></i> New</li>
                    <li><i class="fa fa-calendar"></i> September 24, 2015</li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>


              <!-- Application #2 -->
              <div class="application">
                <div class="app-content">

                  <!-- Name / Avatar -->
                  <div class="info">
                    <img src="assets/images/profilepic2.jpg" alt="">
                    <span><a href="#">Tom Smith</a></span>
                    <ul>
                      <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a>
                      </li>
                      <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
                      </li>
                    </ul>
                  </div>

                  <!-- Buttons -->
                  <div class="buttons">
                    <a href="#one-2" class="btn btn-primary app-link"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="#two-2" class="btn btn-primary app-link"><i class="fa fa-sticky-note"></i> Add Note</a>
                    <a href="#three-2" class="btn btn-primary app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
                  </div>
                  <div class="clearfix"></div>

                </div>

                <!--  Hidden Tabs -->
                <div class="app-tabs">

                  <a href="#" class="close-tab btn btn-primary btn btn-blue"><i class="fa fa-close"></i></a>

                  <!-- First Tab -->
                  <div class="app-tab-content" id="one-2">

                    <div class="select-grid">
                      <select data-placeholder="Application Status" class="chosen-select-no-single form-control">
                  <option value="">Application Status</option>
                  <option value="new">New</option>
                  <option value="interviewed">Interviewed</option>
                  <option value="offer">Offer extended</option>
                  <option value="hired">Hired</option>
                  <option value="archived">Archived</option>
                </select>
                    </div>

                    <div class="select-grid">
                      <a href="#" class="btn btn-primary margin-top-15 delete-application">Delete this application</a>
                    </div>

                    <div class="clearfix"></div>
                    <a href="#" class="button margin-top-15 btn btn-primary">Save</a>


                  </div>

                  <!-- Second Tab -->
                  <div class="app-tab-content" id="two-2">
                    <textarea placeholder="Private note regarding this application" class="form-control"></textarea>
                    <a href="#" class="button margin-top-15">Add Note</a>
                  </div>

                  <!-- Third Tab -->
                  <div class="app-tab-content" id="three-2">
                    <i>Full Name:</i>
                    <span>Tom Smith</span>

                    <i>Email:</i>
                    <span><a href="/cdn-cgi/l/email-protection#4d392220633e202439250d28352c203d2128632e2220"><span class="__cf_email__" data-cfemail="087c6765267b65617c60486d70696578646d266b6765">[email&#160;protected]</span>

                    </a>
                    </span>

                    <i>Message:</i>
                    <span>Morbi non pharetra quam. Pellentesque eget massa dolor. Sed vitae placerat eros, quis aliquet purus. Donec feugiat sapien urna, at sagittis libero pellentesque in. Praesent efficitur dui eget condimentum viverra. Sed non maximus ipsum, non consequat nulla. Vivamus nec convallis nisi, sit amet egestas magna. Quisque vulputate lorem sit amet ornare efficitur. Duis aliquam est elit, sed tincidunt enim commodo sed. Fusce tempus magna id sagittis laoreet. Proin porta luctus ante eu ultrices. Sed porta consectetur purus, rutrum tincidunt magna dictum tempus. </span>
                  </div>

                </div>

                <!-- Footer -->
                <div class="app-footer">


                  <ul style="margin-right:78px;">
                    <li><i class="fa fa-file-text-o"></i> Interviewed</li>
                    <li><i class="fa fa-calendar"></i> September 22, 2015</li>
                  </ul>
                  <div class="clearfix"></div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->

    </div>







  </section>
  <!-- /.content -->
</div>