<div class="content-wrapper" style="min-height:600px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh sách ứng viên - JOB
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="col-md-12">
      <div class="box box-danger">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
            <input type="text" #titleInput (keyup)="onchange(titleInput.value)" placeholder="Nhập Email" class="form-control" >
            </div>
            <!-- /.form-group -->
            <div class="col-md-4">
              <select class="form-control select2" [(ngModel)]="selectaction"  style="width: 100%;">
              <option value="new" >New</option>
              <option value="1">Approve</option>
              <option value="2">Waiting interview</option>
              <option value="3">Pass </option>
              <option value="4">Fail </option>
              <option value="5">Hired</option>
            </select>
            </div>
            <div class="col-md-2">
              <button class="btn btn-flat btn-primary" (click)="getall(id)">Refesh</button>

            </div>
            <!-- /.form-group -->
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!--Table -->


      <div class="box box-danger" *ngFor="let items of pagedItems |searchcv :term:all:selectaction">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <!-- Name / Avatar -->
              <div class="info">
                <div class="col-md-4">
                  <img style=" width: 100px;border-radius: 50%;" src="http://localhost:3000/uploads/forms/anhdaidien/{{items.infocandidateid[0].profileimage}}"
                    alt="">
                </div>


                <div class="col-md-8">
                  <div class="row">
                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="inputEmail3">  <i >Full Name:</i></label>
                      <div class="col-sm-8">
                        <span>{{items.infocandidateid[0].fullname}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="inputEmail3"> <i >Email:</i></label>
                      <div class="col-sm-8">
                        {{items.infocandidateid[0].email}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <ul style="margin-top:20px">
                        <li><a class="btn-download" href="http://localhost:3000/uploads/forms/filecv/{{items.pathresume}}"><i class="fa fa-file-text"></i> Download CV</a>
                        </li>
                      </ul>
                    </div>
                  </div>


                </div>



              </div>
              <!-- Name / Avatar -->
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
                 <div class="col-md-6">
                              <select (change)="onChange($event.target.value,items._id)"   name="a" data-placeholder="Application Status" class="col-xs-6 chosen-select-no-single form-control">
                             
                                    <option value="new" >new</option>
                                    <option value="1" [selected]="items.status==1">approve</option>
                                    <option value="2" [selected]="items.status==2"> waiting interview</option>
                                    <option value="3" [selected]="items.status==3">pass</option>
                                    <option value="4" [selected]="items.status==4">fail</option>
                                    <option value="5" [selected]="items.status==5">hire</option>
                                    </select>
                            </div>
              <!-- Buttons -->
                 <div class="box-footer clearfix pull-right">
                            <ul [ngSwitch]="items.status" style="margin-right:78px;display: -webkit-box;">
                              <li *ngSwitchCase="1" style="margin-right: 28px;">
                                <i class="fa fa-file-text-o"></i> Approve
                              </li>
                              <li *ngSwitchCase="2" style="margin-right: 28px;">
                                <i class="fa fa-file-text-o"></i> Waiting interview
                              </li>
                              <li *ngSwitchCase="3" style="margin-right: 28px;">
                                <i class="fa fa-file-text-o"></i> Pass CV
                              </li>
                              <li *ngSwitchCase="4" style="margin-right: 28px;">
                                <i class="fa fa-file-text-o"></i> Fail CV
                              </li>
                              <li *ngSwitchCase="5" style="margin-right: 28px;">
                                <i class="fa fa-file-text-o"></i>Hired
                              </li>
                              <li style="margin-right: 28px;" *ngSwitchDefaul>
                                <i class="fa fa-file-text-o"></i> Pendding (NEW)
                              </li>

                              <li><i class="fa fa-calendar"></i> {{items.modifieddate|date}}</li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
              <!-- Buttons -->


              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content-->
                  <div class="modal-content">

                    <div class="modal-body">
                      <!--Chi Tiet -->
                      <div class="box box-danger">
                        <div class="box-body">
                          <div class="row">
                         

                          </div>
                          <div class="row">
                            <form class="form-horizontal">
                              <div class="box-body">
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">  <i>Full Name:</i></label>
                                  <div class="col-sm-10">
                                    <span>   {{items.infocandidateid[0].fullname}}</span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label"> <i>Email:</i></label>
                                  <div class="col-sm-10">
                                    {{items.infocandidateid[0].email}}
                                  </div>
                                </div>

                              </div>
                              <!-- /.box-body -->
                            </form>
                          </div>
                     
                        </div>

                        <!-- /.box-body -->
                      </div>
                      <!--Chi Tiet -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!--Table -->

      <!--Page -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
      <!--Page -->
    </div>
  </section>
  <!-- /.content -->
</div>