<div class="content-wrapper" style="min-height:600px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh SachUng Tuyen
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="col-md-12">
      <div class="box box-danger">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <select class="form-control select2" style="width: 100%;">
              <option selected="selected">Alabama</option>
              <option value="">Newest first</option>
              <option value="name">Sort by name</option>
              <option value="rating">Sort by rating</option>
            </select>
            </div>
            <!-- /.form-group -->
            <div class="col-md-6">
              <select class="form-control select2" style="width: 100%;">
              <option value="">Filter by status</option>
              <option value="new">New</option>
              <option value="interviewed">Interviewed</option>
              <option value="offer">Offer extended</option>
              <option value="hired">Hired</option>
              <option value="archived">Archived</option>
            </select>
            </div>
            <!-- /.form-group -->
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!--Table -->
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Different Width</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <!-- Name / Avatar -->
              <div class="info">
                <img src="assets/images/profilepic2.jpg" alt="">
                <span>John Doe</span>
                <ul>
                  <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a>
                  </li>
                  <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
                  </li>
                </ul>
              </div>
              <!-- Name / Avatar -->
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
              <!-- Buttons -->
              <div class="buttons">
                <a  class="btn btn-flat btn-primary app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
              </div>
              <!-- Buttons -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Different Width</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <!-- Name / Avatar -->
              <div class="info">
                <img src="assets/images/profilepic2.jpg" alt="">
                <span>John Doe</span>
                <ul>
                  <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a>
                  </li>
                  <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
                  </li>
                </ul>
              </div>
              <!-- Name / Avatar -->
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
              <!-- Buttons -->
              <div class="buttons">
                <a  class="btn btn-flat btn-primary app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
              </div>
              <!-- Buttons -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Different Width</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <!-- Name / Avatar -->
              <div class="info">
                <img src="assets/images/profilepic2.jpg" alt="">
                <span>John Doe</span>
                <ul>
                  <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a>
                  </li>
                  <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
                  </li>
                </ul>
              </div>
              <!-- Name / Avatar -->
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
              <!-- Buttons -->
              <div class="buttons">
                <a  class="btn btn-flat btn-primary app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
              </div>
              <!-- Buttons -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Different Width</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <!-- Name / Avatar -->
              <div class="info">
                <img src="assets/images/profilepic2.jpg" alt="">
                <span>John Doe</span>
                <ul>
                  <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a>
                  </li>
                  <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
                  </li>
                </ul>
              </div>
              <!-- Name / Avatar -->
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
              <!-- Buttons -->
              <div class="buttons">
                         <a data-toggle="modal" data-target="#myModal" class="btn btn-flat btn-primary app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
              </div>
              <!-- Buttons -->
            

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content-->
                  <div class="modal-content">

                    <div class="modal-body">
                      <!--Chi Tiet -->
                      <div class="box box-danger">
                        <div class="box-body">
                          <div class="row">
                            <div class="col-md-6">
                              <select data-placeholder="Application Status" class="col-xs-6 chosen-select-no-single form-control">
                                    <option value="">Application Status</option>
                                    <option value="new">New</option>
                                    <option value="interviewed">Interviewed</option>
                                    <option value="offer">Offer extended</option>
                                    <option value="hired">Hired</option>
                                    <option value="archived">Archived</option>
                               </select>
                            </div>
                            <div class="col-md-6">
                              <div class="buttons">
                                <a class="btn btn-flat btn-primary app-link"><i  class="fa fa-save"></i> SAVE</a>
                                <a class="btn btn-flat btn-primary app-link" href="#two-1"><i  class="fa fa-sticky-note"></i>Delete</a>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <form class="form-horizontal">
                              <div class="box-body">
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">  <i>Full Name:</i></label>
                                  <div class="col-sm-10">
                                    <span>Tom Smith</span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label"> <i>Email:</i></label>
                                  <div class="col-sm-10">

                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">    <i>Message:</i></label>
                                  <div class="col-sm-10">
                                    <span>Morbi non pharetra quam. Pellentesque eget massa dolor. Sed vitae placerat eros, quis aliquet purus. Donec feugiat sapien urna, at sagittis libero pellentesque in. Praesent efficitur dui eget condimentum viverra. Sed non maximus ipsum, non consequat nulla. Vivamus nec convallis nisi, sit amet egestas magna. Quisque vulputate lorem sit amet ornare efficitur. Duis aliquam est elit, sed tincidunt enim commodo sed. Fusce tempus magna id sagittis laoreet. Proin porta luctus ante eu ultrices. Sed porta consectetur purus, rutrum tincidunt magna dictum tempus. </span>
                                  </div>
                                </div>
                              </div>
                              <!-- /.box-body -->
                            </form>
                          </div>
                          <div class="box-footer clearfix pull-right">
                            <ul style="margin-right:78px;display: -webkit-box;">
                              <li style="    margin-right: 28px;"><i class="fa fa-file-text-o"></i> Interviewed</li>
                              <li><i class="fa fa-calendar"></i> September 22, 2015</li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                        </div>

                        <!-- /.box-body -->
                      </div>
                      <!--Chi Tiet -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- Buttons -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Different Width</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <!-- Name / Avatar -->
              <div class="info">
                <img src="assets/images/profilepic2.jpg" alt="">
                <span>John Doe</span>
                <ul>
                  <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a>
                  </li>
                  <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
                  </li>
                </ul>
              </div>
              <!-- Name / Avatar -->
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
              <!-- Buttons -->
              <div class="buttons">

                <a data-toggle="modal" data-target="#myModal" class="btn btn-flat btn-primary app-link"><i class="fa fa-plus-circle"></i> Show Details</a>
              </div>
              <!-- Buttons -->
            

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content-->
                  <div class="modal-content">

                    <div class="modal-body">
                      <!--Chi Tiet -->
                      <div class="box box-danger">
                        <div class="box-body">
                          <div class="row">
                            <div class="col-md-6">
                              <select data-placeholder="Application Status" class="col-xs-6 chosen-select-no-single form-control">
                                    <option value="">Application Status</option>
                                    <option value="new">New</option>
                                    <option value="interviewed">Interviewed</option>
                                    <option value="offer">Offer extended</option>
                                    <option value="hired">Hired</option>
                                    <option value="archived">Archived</option>
                               </select>
                            </div>
                            <div class="col-md-6">
                              <div class="buttons">
                                <a class="btn btn-flat btn-primary app-link"><i  class="fa fa-save"></i> SAVE</a>
                                <a class="btn btn-flat btn-primary app-link" href="#two-1"><i  class="fa fa-sticky-note"></i>Delete</a>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <form class="form-horizontal">
                              <div class="box-body">
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">  <i>Full Name:</i></label>
                                  <div class="col-sm-10">
                                    <span>Tom Smith</span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label"> <i>Email:</i></label>
                                  <div class="col-sm-10">

                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputEmail3" class="col-sm-2 control-label">    <i>Message:</i></label>
                                  <div class="col-sm-10">
                                    <span>Morbi non pharetra quam. Pellentesque eget massa dolor. Sed vitae placerat eros, quis aliquet purus. Donec feugiat sapien urna, at sagittis libero pellentesque in. Praesent efficitur dui eget condimentum viverra. Sed non maximus ipsum, non consequat nulla. Vivamus nec convallis nisi, sit amet egestas magna. Quisque vulputate lorem sit amet ornare efficitur. Duis aliquam est elit, sed tincidunt enim commodo sed. Fusce tempus magna id sagittis laoreet. Proin porta luctus ante eu ultrices. Sed porta consectetur purus, rutrum tincidunt magna dictum tempus. </span>
                                  </div>
                                </div>
                              </div>
                              <!-- /.box-body -->
                            </form>
                          </div>
                          <div class="box-footer clearfix pull-right">
                            <ul style="margin-right:78px;display: -webkit-box;">
                              <li style="    margin-right: 28px;"><i class="fa fa-file-text-o"></i> Interviewed</li>
                              <li><i class="fa fa-calendar"></i> September 22, 2015</li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                        </div>

                        <!-- /.box-body -->
                      </div>
                      <!--Chi Tiet -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!--Table -->

      <!--Page -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
      <!--Page -->
    </div>
  </section>
  <!-- /.content -->
</div>