
<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_mainheading mj_toppadder80 mj_bottompadder50">
                    <h1>l<span>ogin</span> <span>to my</span> A<span>ccount</span></h1>
                    <p class="mj_toppadder40">You can also sign up with
                        <div class="social-bar text-center">
                            <button class="btn btn-md btn-facebook push-top-xs" (click)="signIn('facebook')">
                    <i class="fa fa-fw fa-facebook"></i> <span> Facebook</span></button>
                            <button class="btn btn-md btn-google push-top-xs" (click)="signIn('google')">
                    <i class="fa fa-fw fa-google"></i> <span> Google</span></button>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="mj_pricingtable mj_greentable mj_login_form_wrapper">
                    <div *ngIf="error" class="alert alert-danger alert-dismissable">
                        <h4><i class="icon fa fa-ban"></i> Thông Báo!</h4>
                        {{error}}
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mj_login_form">
                            <div class="form-group">
                                <input type="text" placeholder="Username or Email" [formControl]="email1" name="uname" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Your Password"  [formControl]="password"  name="password" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mj_toppadder20">
                                    <div class="form-group  pull-left">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mj_toppadder20">

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="mj_pricing_footer">
                           Đăng Nhập
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>