 <div class="mj_transprentbg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="mj_signup_section mj_yellow_bg">
                            <div class="mj_mainheading mj_toppadder80 mj_bottompadder30">
                                <h1>I<span>'m</span> <span>employer look-ing to hire</span></h1>
                            </div>
                            <div class="mj_blog_btn">
                                <a  class="mj_mainbtn mj_btnblack" data-text="hire" data-toggle="modal" data-target="#myModal"><span>hire</span></a>
                            </div>
                            <div class="mj_signup_section_img">
                                <img src="assets/images/signup_bg1.png" class="img-responsive" alt="hire">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="mj_signup_section mj_blue_bg">
                            <div class="mj_mainheading mj_toppadder80 mj_bottompadder30">
                                <h1>I<span>'m</span> <span>candidate looking for a job</span></h1>
                            </div>
                            <div class="mj_blog_btn">
                                <a  class="mj_mainbtn mj_btnblack" data-text="work" data-toggle="modal" data-target="#myModal1"><span>work</span></a>
                            </div>
                            <div class="mj_signup_section_img">
                                <img src="assets/images/signup_bg2.png" class="img-responsive" alt="job">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade mj_popupdesign" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  
                </div>
                <div class="modal-body">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                         <app-register-ntd></app-register-ntd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-register-job></app-register-job>
  
  
    <!--Model End-->
