<div class="mj_pagetitle">
  <img src="https://cdn.itviec.com/system/production/assets/images/9/kms-technology-headline-photo-compress.png" alt="">
  <div class="mj_mainheading_overlay"></div>
  <div class="mj_pagetitle_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="mj_mainheading mj_toppadder80 mj_bottompadder80">
            <h1>Global CyberSoft</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mj_lightgraytbg mj_resumepreview mj_toppadder80 mj_bottompadder80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
        <div class="mj_resume_heading">
          <img src="https://cdn.itviec.com/system/production/employers/logos/189/global-cybersoft-logo-170-151.jpg?1467280280" class="img-responsive"
            alt="">
          <h1><span></span> <span>FPT Software Reviews</span></h1>
          <ul>
            <li>
              <label><i class="fa fa-map-marker"></i>
             </label > <span style="font-size: 22px;">Address: Palo Alto, California, United States </span></li>

            <li>
              <label>Số Lượng: </label><span class="mj_green_text fsize22">300+</span>
            </li>
          </ul>
          <ul>
            <li><a href="#"><i  class="fa fa-link"></i> Website</a>
            </li>
            <li><a href="#"><i  class="fa fa-twitter"></i>Twitter</a>
            </li>
            <li><a href="#"><i  class="fa fa-facebook"></i>facebook</a>
            </li>
            <li>
              <a href="#"><i  class="joball "></i>30 jobs</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder80 ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="mj_resume_changeing mj_yellowbg">
              <a href="#company" aria-controls="company" role="tab" data-toggle="tab" aria-expanded="false">Company</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="mj_resume_changeing mj_bluebg">
              <a href="#individual" aria-controls="individual" role="tab" data-toggle="tab" aria-expanded="true">Review 224</a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade  active in" id="company">
          <!--Tab1-->

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <label>Overview</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">
                        <p>The leading provider of software outsourcing services in Vietnam Established in 1999, ranking in
                          Top 100 Global Outsourcing, recognized as Top Best IT Company To Work in Vietnam (2014), FPT Software
                          is a global software company with presence in US, Japan, EU, Asia Pacific and Australia. FPT Software
                          staff take pride in fair competition with work quality equal to that of the world’s 500 biggest
                          companies’ staff in central area of technology such as Mobility, Cloud Computing, Big Data... Annually,
                          thousands of staff have gone on business trips overseas. FPT Software‘s members consist of Vietnam,
                          US, Japan, EU, Slovakia, Singapore, Myanmar‘s citizens. Though from different origins, they all
                          share the common mission of turning FPT Software into one of the world’s leading software companies.
                          You can make it too!
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                      <div class="mj_divider"></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <label>skills</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">
                        <ul class="mj_selected_content">
                          <li>
                            <a href="#"><img src="assets/images/cross_white.png" alt=""> Design</a>
                          </li>
                          <li>
                            <a href="#"><img src="assets/images/cross_white.png" alt=""> Web Designer</a>
                          </li>
                          <li>
                            <a href="#"><img src="assets/images/cross_white.png" alt=""> User Experience</a>
                          </li>
                          <li>
                            <a href="#"><img src="assets/images/cross_white.png" alt=""> developer</a>
                          </li>
                        </ul>

                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                      <div class="mj_divider"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          </div>
          <!--Tab1-->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="individual">
          <!--Tab2-->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">



                  


                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">
                        <blockquote class="mj_blueblockquote">
                          <span><i class="fa fa-calendar"></i> Dec 2010 - Sep 2011  </span>
                        
                          <h5>Honours Co-op BMATH</h5>
                          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                            facer possim assum.</p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                      <div class="mj_divider"></div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv mj_bottompadder30">
                        <span>Contrasystems, Azeroth, WOW</span>
                        <blockquote class="mj_yellowblockquote">
                          <span><i class="fa fa-calendar"></i> Jul 2012 - Dec 2013</span>
                          <h5>Chief Software Analyst</h5>
                          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                            praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        </blockquote>
                      </div>
                      <div class="mj_detaildiv mj_bottompadder30">
                        <span>World-span, Ottawa, ON</span>
                        <blockquote class="mj_yellowblockquote">
                          <span><i class="fa fa-calendar"></i> Jul 2013 - Dec 2014</span>
                          <h5>Product Assistant</h5>
                          <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                            formas humanitatis per seacula quarta decima et quinta decima.</p>
                        </blockquote>
                      </div>
                      <div class="mj_detaildiv mj_bottompadder30">
                        <fieldset>
                          <legend>Review Details</legend>

                          <div class="mj_createaccount_form">
                            <div class="form-group">
                              <input type="text" placeholder="Tieu de" id="Rate" class="form-control">
                            </div>
                            <div class="form-group">
                              <input type="text" placeholder="noi dug" id="Review Title" class="form-control">
                            </div>
                              <div class="form-group">
                              <input type="text" placeholder="Star" id="Review Title" class="form-control">
                            </div>
                        <a  class="btn btn-primary btn-flat " data-text="Save"><span>Save</span></a>
                          </div>



                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Tab2-->
        </div>
      </div>
      <!--Tab2-->
    </div>



  </div>

</div>