.joball{
    font-size: 24px;
    color: white;
    text-decoration: underline;
    border-radius: 30px;
    background-color: black;
}
.fsize22{
    font-size: 22px;
}
.list-job:hover{
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding: 20px;

}
.title-job{
    border: 1px solid #DDD;
    height: 36px;
    border-radius: 36px;
    display: flex;
    padding: -6px;
    padding-left: 26px;
    float: left;
    padding-right: 25px;
    transition: border .3s,padding-right 1s;
    position: relative;
    top: 1px;
}


.alert-show{
float: left;
    padding: 10px 20px;
    background-color: #00bff3;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}
.mauvang{
    
    color: yellow
}
.jobtitle{
    color: #2580b1 !important;
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.detailJob{
        float: left;
    padding: 10px 20px;
    background-color: #00bff3;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}
.company-content .company-review .content-of-review .short-title {
    font-size: 22px;
    margin-top: 7px;
    color: #333;
    line-height: 1.5em;
    word-wrap: break-word;
}