.joball{
    font-size: 24px;
    color: white;
    text-decoration: underline;
    border-radius: 30px;
    background-color: black;
}
.fsize22{
    font-size: 22px;
}
.mauvang{
    
    color: yellow
}
.jobtitle{
    color: #2580b1 !important;
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.detailJob{
        float: left;
    padding: 10px 20px;
    background-color: #00bff3;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}
.company-content .company-review .content-of-review .short-title {
    font-size: 22px;
    margin-top: 7px;
    color: #333;
    line-height: 1.5em;
    word-wrap: break-word;
}