<div class="mj_pagetitle">
  <img src="http://localhost:3000/uploads/forms/image/{{companyitem?.info_recruiter?.profileimage}}" alt="profileimage">
  <div class="mj_mainheading_overlay"></div>
  <div class="mj_pagetitle_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="mj_mainheading mj_toppadder80 mj_bottompadder80">
            <h1>{{companyitem?.info_recruiter.namecompany}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mj_lightgraytbg mj_resumepreview mj_toppadder80 mj_bottompadder80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
        <div class="mj_resume_heading">

          <img src="http://localhost:3000/uploads/forms/logo/{{companyitem?.info_recruiter.logo}}" class="img-responsive" alt="Logo Company">
          <h1><span></span> <span>{{companyitem?.info_recruiter.namecompany}}</span></h1>
          <ul>
            <li>
              <label><i class="fa fa-map-marker"></i>
             </label > <span style="font-size: 22px;">Address: {{companyitem?.info_recruiter.address}} </span></li>

            <li>
              <label>Số Lượng: </label><span class="mj_green_text fsize22"> {{companyitem?.infocompanysizes[0].name}} </span>
            </li>

          </ul>
          <ul>
            <li><a href="{{companyitem?.info_recruiter.website}}"><i  class="fa fa-link"></i> Website</a>
            </li>

            <li><a href="{{companyitem?.info_recruiter.facebook}}"><i  class="fa fa-facebook"></i>facebook</a>
            </li>

            <li>
              <a><i  class="joball "></i>{{countJob}} jobs</a>
            </li>
            <li>
              <a><label>Quốc Gia: </label>{{companyitem?.infocountry[0].name}} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder80 ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="mj_resume_changeing mj_yellowbg">
              <a href="#company" aria-controls="company" role="tab" data-toggle="tab" aria-expanded="false">Company</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="mj_resume_changeing mj_bluebg">
              <a href="#individual" aria-controls="individual" role="tab" data-toggle="tab" aria-expanded="true">Review 224</a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade  active in" id="company">
          <!--Tab1-->

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <label>Overview</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">
                        <p [innerHTML]="companyitem?.info_recruiter.introduction">
                        </p>

                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                      <div class="mj_divider"></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <label>Skills</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">
                        <ul class="mj_selected_content">
                          <li *ngFor="let iSkill of skill_item">
                            <a href="{{iSkill._idCategory}}--{{iSkill._id}}"><img src="assets/images/cross_white.png" alt=""> {{iSkill.name}}</a>
                          </li>
                         
                        </ul>

                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                      <div class="mj_divider"></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <label>Job</label>
                    </div>
                    <div *ngFor="let ijob of job_item" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">
                        <span class="jobtitle" [routerLink]="['detail-jobs', ijob.title ]">{{ijob.title}}</span>
                        <blockquote class="mj_blueblockquote">
                          <span><i class="fa fa-calendar"></i> Dec 2010 - Sep 2011</span>
                          <span><i class="fa fa-money"></i> {{ijob.salarycompete}}</span>

                          <p [innerHTML]="ijob.descriptionwork">.</p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                    </div>
                  
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                      <div class="mj_divider"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          </div>
          <!--Tab1-->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="individual">
          <!--Tab2-->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                  <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">






                      </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv">
                        <blockquote class="mj_blueblockquote">
                          <span><i class="fa fa-calendar"></i> Dec 2010 - Sep 2011  </span>

                          <h5>Honours Co-op BMATH</h5>
                          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                            facer possim assum.</p>
                        </blockquote>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                      <div class="mj_divider"></div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="mj_detaildiv mj_bottompadder30">
                        <span>Contrasystems, Azeroth, WOW</span>
                        <blockquote class="mj_yellowblockquote">
                          <span><i class="fa fa-calendar"></i> Jul 2012 - Dec 2013</span>
                          <h5>Chief Software Analyst</h5>
                          <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                            praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        </blockquote>
                      </div>
                      <div class="mj_detaildiv mj_bottompadder30">
                        <span>World-span, Ottawa, ON</span>
                        <blockquote class="mj_yellowblockquote">
                          <span><i class="fa fa-calendar"></i> Jul 2013 - Dec 2014</span>
                          <h5>Product Assistant</h5>
                          <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                            formas humanitatis per seacula quarta decima et quinta decima.</p>
                        </blockquote>
                      </div>
                      <div class="mj_detaildiv mj_bottompadder30">
                        <fieldset>
                          <legend>Review Details</legend>

                          <div class="mj_createaccount_form">
                            <div class="form-group">
                              <input type="text" placeholder="Tieu de" id="Rate" class="form-control">
                            </div>
                            <div class="form-group">
                              <input type="text" placeholder="noi dug" id="Review Title" class="form-control">
                            </div>
                            <div class="form-group">
                              <input type="text" placeholder="Star" id="Review Title" class="form-control">
                            </div>
                            <a class="btn btn-primary btn-flat " data-text="Save"><span>Save</span></a>
                          </div>



                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Tab2-->
        </div>
      </div>
      <!--Tab2-->
    </div>



  </div>

</div>