<div class="mj_lightgraytbg mj_resumepreview mj_toppadder80 mj_bottompadder80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <div class="mj_mainheading mj_toppadder20 mj_bottompadder50">
          <h1>J<span>ob</span> App<span>ly</span></h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_bottompadder50">
        <div class="woo-cart-table mj_carttable">
          <table class="table">
            <tbody>
              <tr>
                <th></th>
                <th>CHỨC DANH</th>
                <th>Công Ty</th>
                <th>NGÀY LƯU</th>
                <th>Tình Trang</th>
                <th>  NHÀ TUYỂN DỤNG PHẢN HỒI</th>
                <th>Action</th>
              </tr>
              <tr>
                <td><a href="#"><i class="fa fa-times"></i></a>
                </td>
                <td>
                  <h6>JAVA Developer ( Up to $1,000) </h6>
                  <p>
                    <label>Resume:</label>John Doe</p>
                </td>
                <td><span>Công Ty CP JV-IT</span></td>
                <td>
                  <p>16-06-2017</p>
                </td>
                 <td><span class="mj_blue_text">Bạn đã được nhận</span>
                </td>
                  <td><span class="fa fa-envelope-o"></span>
                </td>
                 
                <td><span class="mj_blue_text"><span><a href="javascript:;"><i class="fa fa-heart-o" aria-hidden="true"></i></a></span> </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mj_offerdiv">
            <div class="woo_product-code">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" name="code" class="form-control" value="" placeholder="Coupon Code...">
                </div>
                <button class="mj_apply_coupenbtn">Apply Coupon</button>
              </form>
            </div>
            <div class="mj_updatecart">
              <a href="#" class="mj_mainbtn mj_btnyellow" data-text="Update Cart"><span>Update Cart</span></a>
            </div>
          </div>
        </div>
   
      </div>
    </div>
  </div>
</div>