<div class="mj_lightgraytbg mj_resumepreview mj_toppadder80 mj_bottompadder80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
        <div class="mj_mainheading mj_toppadder20 mj_bottompadder50">
          <h1>J<span>ob</span> App<span>ly</span></h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_bottompadder50">
        <div class="woo-cart-table mj_carttable">
          <table class="table">
            <tbody>
              <tr>
              
                <th>Job Tilte</th>
                <th>Company</th>
                <th>Date Saved</th>
                <th>Date </th>
                <th>Employee feedback</th>

              </tr>
              <tr *ngFor="let item of listJOB">
                <td>
                  <h6>{{item?.infojobs[0]?.title}} </h6>
                  <p>
                    <label>Resume:</label><a href="http://localhost:3000/uploads/forms/filecv/{{item.pathresume}}" download>DOWLOAD RESUME </a></p>

                </td>
                <td> <span *ngFor="let i of item.inforecruiters"> {{i.info_recruiter.namecompany}}</span></td>
                <td>
                  <p> {{item.createddate|date}}</p>
                </td>
                <td>
                  <p> {{item.modifieddate|date}}</p>
                </td>
                <td>

                  <div [ngSwitch]="item.status">
                    <span *ngSwitchCase="1" class="mj_blue_text">Approve</span>
                    <span *ngSwitchCase="2" class="mj_blue_text">Waiting interview</span>
                    <span *ngSwitchCase="3" class="mj_blue_text">Pass CV</span>
                    <span *ngSwitchCase="4" class="mj_blue_text">Fail CV</span>
                    <span *ngSwitchCase="5" class="mj_blue_text">Hired</span>
                    <span *ngSwitchDefault class="mj_blue_text">Pendding CV</span>

                  </div>
                  <span class="fa fa-envelope-o"></span>
                </td>
             


              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>
