
<div style="	background: url('https://image.ibb.co/mA0ODQ/b2.jpg');
	background-repeat: no-repeat;
  margin-top: -200px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
  height:900px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	text-align: center;">
  <div style="height:100px;"></div>
<div class="w3layoutscontaineragileits "  style="margin-top:150px">
  <h2>Login Admin ITJOB</h2>
  <form action="#" method="post">
    <input type="email" Name="Username" placeholder="EMAIL" required="">
    <input type="password" Name="Password" placeholder="PASSWORD" required="">
   
    <div class="aitssendbuttonw3ls">
      <input type="submit" value="LOGIN">
      <p> Back Home <span>→</span> <a class="w3_play_icon1" routerLink="/pages" > Click Here</a></p>
      <div class="clear"></div>
    </div>
  </form>
</div>
</div>