<div class="mj_pagetitle2">
        <div class="mj_pagetitleimg">
            <img src="assets/images/page_title1.jpg" alt="">
            <div class="mj_mainheading_overlay"></div>
        </div>
        <div class="mj_pagetitle_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mj_mainheading">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="mj_joblogo">
                                        <img src="assets/images/logo1.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="mj_pageheading mj_toppadder50">
                                        <h1>S<span>ocial</span> M<span>edia</span> S<span>pecialist</span></h1>
                                        <ul>
                                            <li>
                                                <label><i class="fa fa-map-marker"></i>
                                                </label><a href="#">Melbourne</a>
                                            </li>
                                            <li><a href="#" class="mj_btn mj_greenbtn">Full Time</a>
                                            </li>
                                            <li>
                                                <label>Company:</label><a href="#">Envato Pty Ltd.</a>
                                            </li>
                                            <li>
                                                <label>Classification:</label><a href="#">Marketing</a>
                                            </li>
                                            <li>
                                                <label>Salary: </label><span class="mj_green_text">$20,000</span>
                                            </li>
                                              <li>
                                                <label>Cần Tuyển: </label><span class="mj_green_text"> 8 Applications </span>
                                            </li>
                                             <li>
                                                <label>End Date: </label><span class="mj_green_text"> 18-07-2017 </span>
                                            </li>
                                             <li>
                                                <label>Phone: </label><span class="mj_green_text"> 09754986596 </span>
                                            </li>
                                             <li>
                                                <label>Email: </label><span class="mj_green_text"> envato@gmail.com </span>
                                            </li>
                                           
                                           
                                         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mj_lightgraytbg mj_bottompadder80">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                    <div class="mj_social_media_section mj_toppadder40 mj_bottompadder40">
                        <ul>
                            <li><a href="post_job.html" class="mj_mainbtn mj_btnblue" data-text="Post a job!"><span>post a job!</span></a>
                            </li>
                            <li><a href="contact.html" class="mj_mainbtn mj_btnyellow" data-text="Contact Now"><span>contact now</span></a>
                            </li>
                             <li><a href="contact.html" class="mj_mainbtn mj_btnyellow" data-text="Back"><span>Back</span></a>
                            </li>
                            <li>
                                                                <a href="#" class="mj_mainbtn mj_btnblack" data-text="hire" data-toggle="modal" data-target="#myModal"><span>Apply Job</span></a>
                            </li>
                        </ul>
                        <p><a href="#"><i class="fa fa-heart"></i></a>
                        </p>
                        <p><a href="#">@</a>
                        </p>
                        <p><a href="#"><i class="fa fa-print"></i></a>
                        </p>
                        <p><a href="#"><i class="fa fa-share-alt"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Overview</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="mj_detaildiv">
                                        <p>Headquartered in Melbourne, Australia, we're a completely online company with an ecosystem of sites and services to help people get creative. In September 2014, one of our sites, <a href="#">ThemeForest</a>, was the 90th most visited website in the world and it is currently the most visited Australian-owned website on the planet! We have over 250 staff globally, and have paid out more than $224 million to our community of creative sellers. Recently, JobAdvisor awarded us the title of Australia's Coolest Tech Company.</p>
                                        <p>On Envato Market thousands of people earn a living selling things like <a href="#">WordPress themes</a>, photos, music tracks and illustrations. On our education platform, <a href="#">Tuts+</a>, over 5 million people learn skills including code, illustration, photography, web design, and more, each month. We also run a freelance marketplace called Envato Studio.</p>
                                        <p>You might be surprised to know that not only do we run some of the biggest websites in the world; we're also growing really fast!</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                    <div class="mj_divider"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>What you'll be doing</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="mj_detaildiv">
                                        <p>Reporting into our Communications and PR Manager (Global) you'll be managing social media across the Envato brand, including content creation, campaign management, interest and audience targeting, sentiment analysis and influencer marketing.</p>
                                        <p>You'll be testing and analysing your work for continuous improvements and marketing outcomes, while living and breathing Envato's Values.</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                    <div class="mj_divider"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>What we offer</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="mj_detaildiv">
                                        <p>We care deeply about diversity at Envato, and welcome applicants of all types, and from all backgrounds. If you think you have the skills and experience needed for this role then we'd like to hear from you.</p>
                                        <ul>
                                            <li>A fantastic culture of creatively minded, hard working people who are passionate about Envato and being part of its growth and success</li>
                                            <li>Flexible working conditions – we want you to love your work but also your life outside of Envato</li>
                                            <li>We actively work on creating a safe, inclusive environment free from discrimination</li>
                                            <li>A fast paced and progressive environment where everyone has regular interaction with teammates and Envato community members from all over the world!</li>
                                            <li>Read more from our staff about why they love working at Envato by visiting <a href="#">www.envato.com/careers/top-5 </a>and <a href="#">www.jobadvisor.com.au/envato</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                    <div class="mj_divider"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Who should apply?</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="mj_detaildiv">
                                        <p>We care deeply about diversity at Envato, and welcome applicants of all types, and from all backgrounds. If you think you have the skills and experience needed for this role then we'd like to hear from you.</p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                    <div class="mj_divider"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Video Presentation</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="mj_detaildiv">
                                        <div class="mj_video">
                                            <div class="mj_videodiv">
                                                <img src="assets/images/videoimg1.jpg" class="img-responsive" alt="">
                                                <div class="mj_overlay">
                                                    <div class="mj_videooverlay_inner">
                                                        <a href="#"><i class="fa fa-play-circle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <iframe id="video" src="http://player.vimeo.com/video/60707752" width="1200" height="482"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                    <div class="mj_divider"></div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>What next?</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="mj_detaildiv">
                                        <p>You can read more about this role and apply directly via Envato's website: <a href="#">http://grnh.se/mlnb7q </a> Alternatively, submit a cover letter, an up to date copy of your resume and answers to the below questions via SEEK. Please include links to your work online and any relevant case studies, including campaigns. </p>
                                        <ul>
                                            <li>Are you eligible to work in Australia?</li>
                                            <li>How many years experience do you have in a similar role?</li>
                                            <li>When are you available to start?</li>
                                            <li>What is your expected annual salary?</li>
                                            <li>Tell us in 100 words about your achievements as a Social Media Specialist. Link to your work &amp; as much data as you can to demonstrate your successes.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_bottompadder30">
                    <div class="mj_about_section mj_toppadder80 mj_bottompadder80">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                                <h1>A<span>bout</span> E<span>nvato</span></h1>
                                <p>The leading provider of software outsourcing services in Vietnam
Established in 1999, ranking in Top 100 Global Outsourcing, recognized as Top Best IT Company To Work in Vietnam (2014), FPT Software is a global software company with presence in US, Japan, EU, Asia Pacific and Australia. 

FPT Software staff take pride in fair competition with work quality equal to that of the world’s 500 biggest companies’ staff in central area of technology such as Mobility, Cloud Computing, Big Data... 

Annually, thousands of staff have gone on business trips overseas.

FPT Software‘s members consist of Vietnam, US, Japan, EU, Slovakia, Singapore, Myanmar‘s citizens. Though from different origins, they all share the common mission of turning FPT Software into one of the world’s leading software companies. 

You can make it too!</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-link"></i> Website</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-facebook"></i>facebook</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <!-- Modal Apply-->
    <div class="modal fade mj_popupdesign" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <div class="mj_pricingtable mj_yellowtable mj_createaccount_form_wrapper">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Send CV</a>
                                    </li>
                                    <li role="presentation"><a href="#individual" aria-controls="individual" role="tab" data-toggle="tab">Đăng nhập</a>
                                    </li>
                                </ul>
                                <p class="mj_toppadder40">You can also sign up with <a href="#">Facebook</a>, <a href="#">Linkedin</a>, or <a href="#">Google</a>.</p>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="company">
                                        <form>
                                            <div class="mj_createaccount_form">
                                                 <div class="form-group">
                                                     <div class="col-lg-6">
                                                              <img src="assets/images/candidate_img.jpg" class="img-responsive" alt="">
                                                     </div>
                                                         <div class="col-lg-6">
                                                                 <input type="text" placeholder="Name" id="ur_name" value="Nguyen van Demo" disabled="disabled" class="form-control">
                                                     </div>
                                            
                                                </div>
                                                <div class="form-group">
                                                       <input type="text" placeholder="Phone" id="ur_name" value="09834234" disabled="disabled" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Email" disabled="disabled" id="ur_surname" value="demo@gmail.com" class="form-control">
                                                </div>
                                              
                                                <div class="form-group">
                                                    <input type="file"  id="ur_username" class="form-control">
                                                </div>
                                              
                                                <div class="form-group mj_toppadder20">
                                                    <div class="mj_checkbox">
                                                        <input type="checkbox" value="1" id="check1" name="checkbox">
                                                        <label for="check1"></label>
                                                    </div>
                                                    <span> Resume New.</span>
                                                </div>
                                            </div>
                                            <div class="mj_pricing_footer">
                                                <a href="#">Apply Job!</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="individual">
                                        <form>
                                            <div class="mj_createaccount_form">
                                             
                                                <div class="form-group">
                                                    <input type="email" placeholder="Email Address" id="uremail" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" placeholder="Password" id="urpassword" class="form-control">
                                                </div>
                                                <div class="form-group mj_toppadder20">
                                                    <div class="mj_checkbox">
                                                        <input type="checkbox" value="1" id="check2" name="checkbox">
                                                        <label for="check2"></label>
                                                    </div>
                                                    <span> I have read, understand and agree to the meshjobs Terms of Service, including the <a href="#">User Agreement</a> and <a href="#">Privacy Policy</a>.</span>
                                                </div>
                                            </div>
                                            <div class="mj_pricing_footer">
                                                <a href="#">Get Started Now!</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/images/close.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

       <!-- Modal Apply-->