<div class="mj_pagetitle2">
    <div class="mj_pagetitleimg">
        <img src="assets/images/page_title1.jpg" alt="">
        <div class="mj_mainheading_overlay"></div>
    </div>
    <div class="mj_pagetitle_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mj_mainheading">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="mj_joblogo">
                                    <img src="assets/images/logo1.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="mj_pageheading mj_toppadder50">
                                    <h1>{{jobitem?.title}}</h1>
                                    <ul>
                                        <li>
                                            <label><i class="fa fa-map-marker"></i>
                                                </label><a href="#">{{jobitem?.title}}</a>
                                        </li>
                                        <li><a href="#" class="mj_btn mj_greenbtn">{{jobitem?.JobTime}}</a>
                                        </li>
                                        <li>
                                            <label>Company:</label><a href="#">{{jobitem?.company[0].info_recruiter.namecompany}}</a>
                                        </li>
                                        <li>
                                            <label>Classification:</label><a href="#">{{jobitem?.company[0].info_recruiter.namecompany}}</a>
                                        </li>
                                        <li>
                                            <label>Salary: </label><span class="mj_green_text">{{jobitem?.company[0].info_recruiter.salarycompete}}</span>
                                        </li>
                                        <li>
                                            <label>Cần Tuyển: </label><span class="mj_green_text">{{jobitem?.Apllication}} Applications </span>
                                        </li>
                                        <li>
                                            <label>createddate Date: </label><span class="mj_green_text"> {{jobitem?.createddate|date}} </span>
                                        </li>
                                        <li>
                                            <label>End Date: </label><span class="mj_green_text"> {{jobitem?.endPost|date}} </span>
                                        </li>
                                        <li>
                                            <label>Phone: </label><span class="mj_green_text">  {{jobitem?.company[0].info_recruiter.phone}}  </span>
                                        </li>
                                        <li>
                                            <label>Email: </label><span class="mj_green_text">  {{jobitem?.company[0].email}} </span>
                                        </li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                <div class="mj_social_media_section mj_toppadder40 mj_bottompadder40">
                    <ul>

                        <li><a href="contact.html" class="mj_mainbtn mj_btnyellow" data-text="Back"><span>Back</span></a>
                        </li>
                        <li>
                            <a href="#" class="mj_mainbtn mj_btnblack" data-text="Apply Job" data-toggle="modal" data-target="#myModal"><span>Apply Job</span></a>
                        </li>
                    </ul>

                    <ul>
                        <li *ngFor="let cat of jobitem?.Infokeyword">
                            {{cat.name}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>Overview</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                    <p [innerHtml]="jobitem?.descriptionwork"></p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>What you'll be doing</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                    <p [innerHtml]="jobitem?.requirementwork"></p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_bottompadder30">
                <div class="mj_about_section mj_toppadder80 mj_bottompadder80">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                            <h1>A<span>bout</span> <span> {{jobitem?.company[0].info_recruiter.namecompany}} </span></h1>
                            <p [innerHtml]="jobitem?.company[0].info_recruiter.introduction"> </p>
                            <ul>
                                <li><a href="{{jobitem?.company[0].info_recruiter.website}}"><i class="fa fa-link"></i> Website</a>
                                </li>
                                <li><a href="{{jobitem?.company[0].info_recruiter.facebook}}"><i class="fa fa-facebook"></i>facebook</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Apply-->
<div class="modal fade mj_popupdesign" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                    <div class="row">
                        <div class="mj_pricingtable mj_yellowtable mj_createaccount_form_wrapper">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Send CV</a>
                                </li>
                                <li role="presentation"><a href="#individual" aria-controls="individual" role="tab" data-toggle="tab">Đăng nhập</a>
                                </li>
                            </ul>
                            <p class="mj_toppadder40">You can also sign up with <a href="#">Facebook</a>, <a href="#">Linkedin</a>, or <a href="#">Google</a>.</p>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="company">
                                    <form>
                                        <div class="mj_createaccount_form">
                                            <div class="form-group">
                                                <div class="col-lg-6">
                                                    <img src="assets/images/candidate_img.jpg" class="img-responsive" alt="">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Name" id="ur_name" value="Nguyen van Demo" disabled="disabled" class="form-control">
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Phone" id="ur_name" value="09834234" disabled="disabled" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Email" disabled="disabled" id="ur_surname" value="demo@gmail.com" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <input type="file" id="ur_username" class="form-control">
                                            </div>

                                            <div class="form-group mj_toppadder20">
                                                <div class="mj_checkbox">
                                                    <input type="checkbox" value="1" id="check1" name="checkbox">
                                                    <label for="check1"></label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mj_pricing_footer">
                                            <a href="#">Apply Job!</a>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="individual">
                                    <form>
                                        <div class="mj_createaccount_form">

                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" id="uremail" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" placeholder="Password" id="urpassword" class="form-control">
                                            </div>
                                            <div class="form-group mj_toppadder20">
                                                <div class="mj_checkbox">
                                                    <input type="checkbox" value="1" id="check2" name="checkbox">
                                                    <label for="check2"></label>
                                                </div>
                                                <span> I have read, understand and agree to the meshjobs Terms of Service, including the <a href="#">User Agreement</a> and <a href="#">Privacy Policy</a>.</span>
                                            </div>
                                        </div>
                                        <div class="mj_pricing_footer">
                                            <a href="#">Get Started Now!</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/images/close.png" alt="">
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Apply-->