<div class="mj_pagetitle2">
    <div class="mj_pagetitleimg">
        <img src="assets/images/page_title1.jpg" alt="">
        <div class="mj_mainheading_overlay"></div>
    </div>
    <div class="mj_pagetitle_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mj_mainheading">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="mj_joblogo">
                                    <img src="http://localhost:3000/uploads/forms/logo/{{jobitem?.company[0]?.info_recruiter?.logo}}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="mj_pageheading mj_toppadder50">
                                    <h3 style="color: white;">{{jobitem?.title}}</h3>
                                    <ul>
                                      
                                          <li><a href="#" class="mj_btn mj_greenbtn"><i class="fa fa-map-marker"></i>{{jobitem?.JobTime}}</a>
                                        </li>
                                        <li><a href="#" class="mj_btn mj_greenbtn">{{jobitem?.company[0].info_recruiter.address}}</a>
                                        </li>
                                        <li>
                                            <label>Company:</label><a href="#">{{jobitem?.company[0].info_recruiter.namecompany}}</a>
                                        </li>
                                        <li>
                                            <label>Classification:</label><a href="#">{{jobitem?.company[0].info_recruiter.namecompany}}</a>
                                        </li>
                                        <li>
                                            <label>Salary: </label><span class="mj_green_text mj_greenbtn">{{jobitem?.salarycompete}}</span>
                                        </li>
                                        <li>
                                            <label>Cần Tuyển: </label><span class="mj_green_text">{{jobitem?.Apllication}} Applications </span>
                                        </li>
                                        <li>
                                            <label>createddate Date: </label><span class="mj_green_text"> {{jobitem?.createddate|date}} </span>
                                        </li>
                                        <li>
                                            <label>End Date: </label><span class="mj_green_text"> {{jobitem?.endPost|date}} </span>
                                        </li>
                                        <li>
                                            <label>Phone: </label><span class="mj_green_text">  {{jobitem?.company[0].info_recruiter.phone}}  </span>
                                        </li>
                                        <li>
                                            <label>Email: </label><span class="mj_green_text">  {{jobitem?.company[0].email}} </span>
                                        </li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                <div class="mj_social_media_section mj_toppadder40 mj_bottompadder40">
                    <ul>

                        <li><a (click)="backClicked()" class="mj_mainbtn mj_btnyellow" data-text="Back"><span>Back</span></a>
                        </li>
                        <li>
                            <a href="#" class="mj_mainbtn mj_btnblack" data-text="Apply Job" data-toggle="modal" data-target="#myModal"><span>Apply Job</span></a>
                        </li>
                    </ul>

                    <ul class="list_language">
                        <li *ngFor="let inf of jobitem?.Infokeyword">
                            {{inf.name}}
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>Decription</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                    <p [innerHtml]="jobitem?.descriptionwork"></p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>Technical requirements</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                    <p [innerHtml]="jobitem?.requirementwork"></p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_bottompadder30">
                <div class="mj_about_section mj_toppadder80 mj_bottompadder80">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                            <h1>A<span>bout</span> <span> {{jobitem?.company[0].info_recruiter.namecompany}} </span></h1>
                            <p [innerHtml]="jobitem?.company[0].info_recruiter.introduction"> </p>
                            <ul>
                                <li><a href="{{jobitem?.company[0].info_recruiter.website}}"><i class="fa fa-link"></i> Website</a>
                                </li>
                                <li><a href="{{jobitem?.company[0].info_recruiter.facebook}}"><i class="fa fa-facebook"></i>facebook</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Apply-->
<div class="modal fade mj_popupdesign" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                    <div class="row">
                        <div class="mj_pricingtable mj_yellowtable mj_createaccount_form_wrapper">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Send CV</a>
                                </li>
                                <li role="presentation"><a href="#individual" aria-controls="individual" role="tab" data-toggle="tab">Đăng nhập</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="company">
                                    <form *ngIf="islogin">
                                        <div class="mj_createaccount_form">
                                            <div class="form-group">
                                                <div class="col-lg-6">
                                                    <img src="http://localhost:3000/uploads/forms/anhdaidien/{{imageUrl}}" class="img-responsive" alt="">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Name" [ngModel]="name" id="ur_name" value="{{name}}" disabled="disabled" name="username" class="form-control">
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <input type="text" placeholder="Email" disabled="disabled" [ngModel]="email" id="email"  name="email" value="{{email}}" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input style="margin-top: 10px;"  name="fileupload" class="form-control" type="file" id="file_cv" name="file_cv" ng2FileSelect [uploader]="uploader"
                                                />
                                            </div>
                                        </div>
                                        <div class="mj_pricing_footer">
                                            <button type="button" (click)="uploader.uploadAll();" [disabled]="!uploader.getNotUploadedItems().length" class="btn btn-primary">Apply Job!</button>
                                        </div>
                                    </form>
                                             <form *ngIf="islogin===false">
                                        <div class="mj_createaccount_form">
                                            <div class="form-group">
                                              
                                                <div class="col-lg-6">
                                                    <a *ngIf="islogin===false" class="close" data-dismiss="modal" aria-label="Close" routerLink="/pages/login">Vui Lòng đăng nhập để apply CV!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="individual">
                                    <form>
                                        <div class="mj_createaccount_form">
                                            <div class="form-group">
                                                <input type="email" name="uremail" placeholder="Email Address" id="uremail" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <input type="password"  name="urpassword" placeholder="Password" id="urpassword" class="form-control">
                                            </div>
                                        </div>
                                        <div class="mj_pricing_footer">
                                            <a class="close" data-dismiss="modal" aria-label="Close" routerLink="/pages/login">Get Started Now!</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="assets/images/close.png" alt="">
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Apply-->