<div class="mj_lightgraytbg mj_toppadder80 mj_bottompadder80">
    <div class="container">
        <div class="alert alert-info alert-dismissable" *ngIf="isupdateuser==false">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            Phú, Bổ sung thông tin hồ sơ của bạn để nhận được nhiều cơ hội phỏng vấn hơn.
        </div>

        <div class="row" *ngIf="isupdateuser==false">
            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="mj_pricingtable mj_yellowtable mj_createaccount_form_wrapper">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Thông tin cá nhân</a>
                        </li>
                        <li role="presentation"><a (click)="click()">Profile</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="company" *ngIf="isupdateuser==false">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="assets/images/candidate_img.jpg" class="img-responsive image-profile mj_testimonial_img" alt="Image LOgo">
                                </div>
                                <div class="col-lg-8">
                                    <form class="form-horizontal form-profile" [formGroup]="FormChangpass" (ngSubmit)="updatePassword()"  *ngIf="ischangepass==true">
                                        <div class="form-group">
                                            <label for="inputName" class="col-sm-2 control-label" [formControl]="passw"  >Password</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName" placeholder="pass" [formControl]="passnew">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-sm-2 control-label">Password new</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName" placeholder="new pass" [formControl]="passnewRepeat">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-sm-2 control-label">Password</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName" placeholder="repeat pass">
                                            </div>
                                        </div>
                                        <a id="download-resume-button" class="btn btn-sm btn-primary btn-outline" (click)="clickchangepass()"><i class="fa  fa-save  " ></i> Save </a>
                                        <a id="download-resume-button" class="btn btn-sm btn-danger btn-outline" (click)="clickchangepass()"><i class="fa fa-dedent " ></i> Cancel </a>
                                    </form>
                                    <form class="form-horizontal form-profile" [formGroup]="saveForm" (ngSubmit)="saveinfo()" *ngIf="ischangepass==false">
                                        <div class="form-group">
                                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Jack" [formControl]="username" rel="popover" id="username" data-content="This field is mandatory"
                                                    data-original-title="Here you can edit your username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="office@email.com" [formControl]="email" id="email" data-content="This field is mandatory"
                                                    data-original-title="Edit your email address">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputExperience" class="col-sm-2 control-label">CV</label>
                                            <div class="col-sm-10">
                                                <input type="text" [formControl]="file" class="form-control">
                                                <input type="file" id="file_cv" name="file_cv" ng2FileSelect [uploader]="uploader" />
                                                <button type="button" (click)="uploader.uploadAll();" [disabled]="!uploader.getNotUploadedItems().length" class="btn btn-primary">UpLoad Image</button>
                                            </div>
                                            <button type="submit" class="btn btn-flat btn-primary pull-right">Update</button>
                                            <br>
                                            <input type="checkbox" class="minimal"> Public Profile
                                            <a id="download-resume-button" class="btn btn-sm btn-default btn-outline" (click)="clickchangepass()"><i class="fa  fa-exchange " ></i> Change  password </a>
                                            <a id="download-resume-button" href="https://www.vietnamworks.com/tai-ho-so" target="_blank" class="btn btn-sm btn-default btn-outline"><i class="fa fa-fw fa-file-pdf-o"></i> Tải hồ sơ</a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_mainheading mj_toppadder50 mj_bottompadder50">
                    <a (click)="click()" class="mj_mainbtn mj_btnblue" data-text="BACK"><span><i class="fa  fa-chevron-circle-left"></i>   BACK</span></a>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isupdateuser==true">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_postdiv mj_shadow_blue mj_postpage mj_toppadder50 mj_bottompadder50">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                        <form>
                            <div class="form-group">
                                <label>Your Name</label>
                                <input type="text" class="form-control" placeholder="John Doe">
                            </div>

                            <div class="form-group">
                                <label>Your Email Address</label>
                                <input type="text" class="form-control" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <label>Professional Title</label>
                                <input type="text" class="form-control" placeholder="e.g. “Web Developer”">
                            </div>
                            <div class="form-group">
                                <label>Location</label>
                                <input type="text" class="form-control" placeholder="e.g. “London, UK”, “New York”, “Houston, TX”">
                            </div>
                            <div class="form-group">
                                <label>Resume Category</label>
                                <select name="timepass" class="form-control custom-select">
                                        <option>Choose a Category</option>
                                        <option>Design</option>
                                        <option>web</option>
                                        <option>development</option>
                                    </select>
                                <a class="a-underline"> select all </a>
                                <ul class="mj_selected_content">
                                    <li>
                                        <a href="#"><img src="assets/images/cross_white.png" alt=""> Design</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/cross_white.png" alt=""> web</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/cross_white.png" alt=""> development</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label>Skills <span>(optionnal)</span>
                                    </label>
                                <input type="text" class="form-control" placeholder="Comma separate a list of relevant skills">
                            </div>

                            <div class="form-group">
                                <label>Education<span>(optionnal)</span>
                                    </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="mj_education">
                                            <input type="text" class="form-control" placeholder="School Name">
                                            <input type="text" class="form-control" placeholder="Qualification(s)">
                                            <input type="text" class="form-control" placeholder="Start / End Date">
                                            <textarea class="form-control" rows="5" placeholder="Notes"></textarea>
                                            <a href="#" class="mj_removefile"><i class="fa fa-times"></i> remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="i2" class="mj_addurl">+ Add URL
                                    <span>Optionally provide links to any of your websites or social network profiles.</span>
                                </div>
                                <div class="mj_addurldiv" id="divi2">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Alink to a video about your company">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="button" value="Add New" class="mj_add" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Experience<span>(optionnal)</span>
                                    </label>
                                <div id="i3" class="mj_addurl">+ Add URL
                                    <span>Optionally provide links to any of your websites or social network profiles.</span>
                                </div>
                                <div class="mj_addurldiv" id="divi3">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Alink to a video about your company">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="button" value="Add New" class="mj_add" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label> UPLOAD CV <span>(optionnal)</span>
                                    </label>
                                <img src="assets/images/envato_logo.png" class="img-responsive" alt="">
                                <a href="#" class="mj_removefile"><i class="fa fa-times"></i> remove</a>
                                <a href="#" class="mj_mainbtn mj_btngray" data-text="Choose File"><span>choose file</span></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mj_showmore"><a href="#" class="mj_showmorebtn mj_bigbtn mj_bluebtn">Preview <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>