<div class="mj_lightgraytbg mj_toppadder80 mj_bottompadder80">
    <div class="container">
        <div class="alert alert-info alert-dismissable" *ngIf="isupdateuser==false">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            Phú, Bổ sung thông tin hồ sơ của bạn để nhận được nhiều cơ hội phỏng vấn hơn.
        </div>

        <div class="row" *ngIf="isupdateuser==false">
            <div class="col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="mj_pricingtable mj_yellowtable mj_createaccount_form_wrapper">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Thông tin cá nhân</a>
                        </li>
                        <li role="presentation"><a (click)="click()">Profile</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="company" *ngIf="isupdateuser==false">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img id="imageprofile" src="http://localhost:3000/uploads/forms/anhdaidien/{{listuser?.profileimage}}" class="img-responsive image-profile mj_testimonial_img"
                                        alt="Image LOgo">

                                    <input style="margin-top: 10px;" type="file" id="anhdaidien" name="anhdaidien" ng2FileSelect [uploader]="uploaderanhdaidien"
                                    />
                                    <button type="button" (click)="uploaderanhdaidien.uploadAll();" [disabled]="!uploaderanhdaidien.getNotUploadedItems().length"
                                        class="btn-primary c-edit"><i class="fa fa-edit"></i>Edit</button>

                                    <input type="checkbox" class="minimal">
                                    <span class="pull-right">
                        <input type="checkbox" class="js-switch" id="chb-searchable" data-switchery="true" style=""><span class="switchery" id="chb-searchable" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); transition: border 0.5s, box-shadow 0.5s; opacity: 0.5;"><small style="left: 0px; transition: left 0.25s;"></small></span>
                                    </span>

                                    Public Profile
                                    <div class="form-group">
                                        <a id="download-resume-button" class="btn btn-sm btn-default btn-outline" (click)="clickchangepass()"><i class="fa  fa-exchange " ></i> Change  password </a>
                                        <a id="download-resume-button" href="http://localhost:3000/uploads/forms/filecv/CV-300617.191153.pdf" target="_blank" class="btn btn-sm btn-default btn-outline"><i class="fa fa-fw fa-file-pdf-o"></i> Tải hồ sơ</a>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <form [formGroup]="changepasswordForm" class="form-horizontal form-profile" *ngIf="ischangepass==true" (ngSubmit)="updatePassword()">

                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label">PassWordOld</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="passwordold" id="passwordold" [formControl]="passwordold" class="form-control">
                                                <div class="alert alert-danger ed" [hidden]="passwordold.valid || passwordnew.untouched">


                                                    <div [hidden]="!passwordold.hasError('minlength')">
                                                        <i class="fa fa-ban" aria-hidden="true"></i> PassWordOld can not
                                                        be shorter than 5 characters.
                                                    </div>
                                                    <div [hidden]="!passwordold.hasError('required')">
                                                        <i class="fa fa-ban" aria-hidden="true"></i> PassWordOld is required.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="passwordnew">PassWordNew</label>
                                            <div class="col-sm-10">
                                                <input type="password" name="passwordnew" id="passwordnew" class="form-control" [formControl]="passwordnew">
                                                <div class="alert alert-danger ed" [hidden]="passwordnew.valid || passwordnew.untouched">


                                                    <div [hidden]="!passwordnew.hasError('required')">
                                                        <i class="fa fa-ban" aria-hidden="true"></i> The password is required.
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="passwordnew">RepeatPassWord</label>
                                            <div class="col-sm-10">
                                                <input type="password" name="passwordrepeate" (keyup)="passwordMatch()" id="passwordrepeate" class="form-control" [formControl]="passwordrepeate">
                                                <div class="alert alert-danger ed" [hidden]="passwordrepeate.valid || passwordrepeate.untouched">

                                                    <div class="alert alert-danger">
                                                        {{errrorcheck}}
                                                    </div>
                                                    <div class="alert alert-danger ed" [hidden]="!passwordrepeate.hasError('required')">
                                                        <i class="fa fa-ban" aria-hidden="true"></i> The password is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" [disabled]="!changepasswordForm.valid" class="btn btn-flat btn-primary">Update</button>
                                    </form>
                                    <form class="form-horizontal form-profile" [formGroup]="saveForm" (ngSubmit)="saveinfo()" *ngIf="ischangepass==false">
                                        <div class="form-group">
                                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Jack" [formControl]="username" rel="popover" id="username" data-content="This field is mandatory"
                                                    data-original-title="Here you can edit your username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="office@email.com" [formControl]="email" id="email" data-content="This field is mandatory"
                                                    data-original-title="Edit your email address">
                                            </div>
                                        </div>
                                        <br>


                                        <div class="form-group">
                                            <label for="inputExperience" class="col-sm-2 control-label">CV</label>
                                            <div class="col-sm-10">
                                                <input type="text" [formControl]="file" class="form-control">
                                                <div class="form-group">
                                                    <input style="margin-top: 10px;" type="file" id="file_cv" name="file_cv" ng2FileSelect [uploader]="uploader" />
                                                    <button type="button" (click)="uploader.uploadAll();" [disabled]="!uploader.getNotUploadedItems().length" class="btn btn-primary">UpLoad Image</button>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-flat btn-primary pull-right" style="margin-right: 20px;">Update</button>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_mainheading mj_toppadder50 mj_bottompadder50">
                    <a (click)="click()" class="mj_mainbtn mj_btnblue" data-text="BACK"><span><i class="fa  fa-chevron-circle-left"></i>   BACK</span></a>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isupdateuser==true">
            <app-update-info-user></app-update-info-user>
        </div>
    </div>
</div>